[submodule "epictetus_short-works_george-long"]
	path = epictetus_short-works_george-long
	url = https://github.com/standardebooks/epictetus_short-works_george-long
[submodule "marcus-aurelius_meditations_george-long"]
	path = marcus-aurelius_meditations_george-long
	url = https://github.com/standardebooks/marcus-aurelius_meditations_george-long
[submodule "epictetus_discourses_george-long"]
	path = epictetus_discourses_george-long
	url = https://github.com/standardebooks/epictetus_discourses_george-long
[submodule "seneca_dialogues_aubrey-stewart"]
	path = seneca_dialogues_aubrey-stewart
	url = https://github.com/standardebooks/seneca_dialogues_aubrey-stewart
